[Unit]
Description=A fast starter With Spring boot.

[Service]
PIDFile=/run/aiu.pid
WorkingDirectory=/root/https/flina-yufan-spring
ExecStart=/usr/bin/java -jar flina-yufan-spring-0.1.jar

[Install]
WantedBy=multi-user.target
